.tanksm { display:inline-block; overflow: hidden; background-position: -239px -344px; background-repeat: no-repeat; background-image: url('../images/tank_small.png'); }

.akatsiya2s3 { width: 32px; height: 32px; background-position: -1px -1px; }
.amx-10p-pac90mrc { width: 32px; height: 32px; background-position: -1px -35px; }
.amx-10p { width: 32px; height: 32px; background-position: -1px -69px; }
.b1draco { width: 32px; height: 32px; background-position: -1px -103px; }
.bm551 { width: 32px; height: 32px; background-position: -1px -137px; }
.bmd-3 { width: 32px; height: 32px; background-position: -1px -171px; }
.bmd-4 { width: 32px; height: 32px; background-position: -1px -205px; }
.bmpt { width: 32px; height: 32px; background-position: -1px -239px; }
.centauro120 { width: 32px; height: 32px; background-position: -1px -273px; }
.centauro155 { width: 32px; height: 32px; background-position: -1px -307px; }
.crab { width: 32px; height: 32px; background-position: -1px -341px; }
.amx-10rcr { width: 32px; height: 21px; background-position: -1px -375px; }
.fv101 { width: 32px; height: 32px; background-position: -35px -1px; }
.lav-150-90 { width: 32px; height: 32px; background-position: -35px -35px; }
.lav-150-90mrc { width: 32px; height: 32px; background-position: -35px -69px; }
.lav-300 { width: 32px; height: 32px; background-position: -35px -103px; }
.m2bradley { width: 32px; height: 32px; background-position: -35px -137px; }
.m551 { width: 32px; height: 32px; background-position: -35px -171px; }
.m60a2 { width: 32px; height: 32px; background-position: -35px -205px; }
.m60a3-snow { width: 32px; height: 32px; background-position: -35px -239px; }
.m8 { width: 32px; height: 32px; background-position: -35px -273px; }
.mbt-70mrc { width: 32px; height: 32px; background-position: -35px -307px; }
.t-54 { width: 32px; height: 32px; background-position: -35px -341px; }
.rdf-lt { width: 32px; height: 21px; background-position: -35px -375px; }
.vbr { width: 32px; height: 32px; background-position: -69px -1px; }
.vickersvfm5 { width: 32px; height: 32px; background-position: -69px -35px; }
.vickersvfm5mrc { width: 32px; height: 32px; background-position: -69px -69px; }
.Nona-S2S9_Hull01_med { width: 32px; height: 31px; background-position: -69px -103px; }
.T-72_Hull01_med { width: 32px; height: 31px; background-position: -69px -136px; }
.amx-10p-pac90 { width: 32px; height: 31px; background-position: -69px -169px; }
.b1centauro120wlf { width: 32px; height: 31px; background-position: -69px -202px; }
.bmd-1 { width: 32px; height: 31px; background-position: -69px -235px; }
.bmp-2 { width: 32px; height: 31px; background-position: -69px -268px; }
.m1134 { width: 32px; height: 31px; background-position: -69px -301px; }
.m48 { width: 32px; height: 31px; background-position: -69px -334px; }
.b1centauro { width: 32px; height: 29px; background-position: -69px -367px; }
.fv107 { width: 31px; height: 32px; background-position: -103px -1px; }
.fv721shk { width: 31px; height: 32px; background-position: -103px -35px; }
.xm800t { width: 31px; height: 32px; background-position: -103px -69px; }
.sphinx { width: 32px; height: 31px; background-position: -103px -103px; }
.vblswb { width: 32px; height: 31px; background-position: -136px -1px; }
.bmd-2wlf { width: 32px; height: 30px; background-position: -136px -34px; }
.challenger2-256 { width: 32px; height: 30px; background-position: -136px -66px; }
.leopard2av-snow { width: 32px; height: 30px; background-position: -103px -136px; }
.m113 { width: 32px; height: 30px; background-position: -103px -168px; }
.merkava-iib { width: 32px; height: 30px; background-position: -103px -200px; }
.palmaria { width: 32px; height: 30px; background-position: -103px -232px; }
.pzh2000 { width: 32px; height: 30px; background-position: -103px -264px; }
.stingray1 { width: 32px; height: 30px; background-position: -103px -296px; }
.stingray2shk { width: 32px; height: 30px; background-position: -103px -328px; }
.wiesel1wlf { width: 32px; height: 30px; background-position: -103px -360px; }
.sabre { width: 31px; height: 31px; background-position: -137px -98px; }
.ptl02 { width: 30px; height: 31px; background-position: -137px -131px; }
.bmd-2 { width: 32px; height: 29px; background-position: -137px -164px; }
.bmp-3m { width: 32px; height: 29px; background-position: -170px -1px; }
.challenger2-140 { width: 32px; height: 29px; background-position: -170px -32px; }
.dragoon300-90 { width: 32px; height: 29px; background-position: -170px -63px; }
.fv510 { width: 32px; height: 29px; background-position: -170px -94px; }
.gvosdika2s1 { width: 32px; height: 29px; background-position: -170px -125px; }
.leopard2a6 { width: 32px; height: 29px; background-position: -171px -156px; }
.leopard2a7-140 { width: 32px; height: 29px; background-position: -204px -1px; }
.m109a6 { width: 32px; height: 29px; background-position: -204px -32px; }
.m41 { width: 32px; height: 29px; background-position: -204px -63px; }
.m60-2000 { width: 32px; height: 29px; background-position: -204px -94px; }
.m60a3 { width: 32px; height: 29px; background-position: -204px -125px; }
.stingray2 { width: 32px; height: 29px; background-position: -171px -187px; }
.type59-promo { width: 32px; height: 29px; background-position: -137px -195px; }
.b1centauro120 { width: 32px; height: 28px; background-position: -171px -218px; }
.bmp-3 { width: 32px; height: 28px; background-position: -137px -226px; }
.bwp-1 { width: 32px; height: 28px; background-position: -171px -248px; }
.challenger1-falc { width: 32px; height: 28px; background-position: -137px -256px; }
.challenger1wlf { width: 32px; height: 28px; background-position: -171px -278px; }
.lav-150 { width: 32px; height: 28px; background-position: -137px -286px; }
.leopard1 { width: 32px; height: 28px; background-position: -171px -308px; }
.m1128stryker { width: 32px; height: 28px; background-position: -137px -316px; }
.m1a2 { width: 32px; height: 28px; background-position: -171px -338px; }
.t-90 { width: 32px; height: 28px; background-position: -137px -346px; }
.type59 { width: 32px; height: 28px; background-position: -171px -368px; }
.of-40 { width: 32px; height: 20px; background-position: -137px -376px; }
.type69-ii { width: 32px; height: 28px; background-position: -205px -156px; }
.type80-i { width: 32px; height: 28px; background-position: -238px -1px; }
.bmp-1 { width: 32px; height: 27px; background-position: -238px -31px; }
.bmp-1p { width: 32px; height: 27px; background-position: -238px -60px; }
.bmpt-72 { width: 32px; height: 27px; background-position: -238px -89px; }
.bmpt-proto-reap { width: 32px; height: 27px; background-position: -238px -118px; }
.bmpt-proto { width: 32px; height: 27px; background-position: -205px -186px; }
.fv4201-mk6-promo { width: 32px; height: 27px; background-position: -205px -215px; }
.fv438 { width: 32px; height: 27px; background-position: -205px -244px; }
.fv721 { width: 32px; height: 27px; background-position: -205px -273px; }
.lav-600 { width: 32px; height: 27px; background-position: -205px -302px; }
.m108 { width: 32px; height: 27px; background-position: -205px -331px; }
.t-72ural-snow { width: 32px; height: 27px; background-position: -205px -360px; }
.t-80shk { width: 32px; height: 27px; background-position: -239px -147px; }
.taifun { width: 32px; height: 27px; background-position: -272px -1px; }
.type90-ii { width: 32px; height: 27px; background-position: -272px -30px; }
.type98 { width: 32px; height: 27px; background-position: -272px -59px; }
.wiesel1 { width: 32px; height: 27px; background-position: -272px -88px; }
.fv4201 { width: 32px; height: 26px; background-position: -272px -117px; }
.fv433abbot-mk2 { width: 32px; height: 26px; background-position: -239px -176px; }
.is-7 { width: 32px; height: 26px; background-position: -239px -204px; }
.leopard1a5 { width: 32px; height: 26px; background-position: -239px -232px; }
.leopard2 { width: 32px; height: 26px; background-position: -239px -260px; }
.leopard2av { width: 32px; height: 26px; background-position: -239px -288px; }
.mbt-70 { width: 32px; height: 26px; background-position: -239px -316px; }
.no-image { width: 32px; height: 26px; background-position: -239px -344px; }
.erc90-f4 { width: 32px; height: 24px; background-position: -239px -372px; }
.object430-snow { width: 32px; height: 26px; background-position: -273px -145px; }
.object430 { width: 32px; height: 26px; background-position: -306px -1px; }
.t-72a { width: 32px; height: 26px; background-position: -306px -29px; }
.xm1-fsed { width: 32px; height: 26px; background-position: -306px -57px; }
.xm1a3 { width: 32px; height: 26px; background-position: -306px -85px; }
.b1centauro155 { width: 32px; height: 25px; background-position: -306px -113px; }
.c1 { width: 32px; height: 25px; background-position: -273px -173px; }
.challenger1 { width: 32px; height: 25px; background-position: -273px -200px; }
.challenger2 { width: 32px; height: 25px; background-position: -273px -227px; }
.leopard2a5 { width: 32px; height: 25px; background-position: -273px -254px; }
.m1 { width: 32px; height: 25px; background-position: -273px -281px; }
.m109 { width: 32px; height: 25px; background-position: -273px -308px; }
.m1a1 { width: 32px; height: 25px; background-position: -273px -335px; }
.pl-01 { width: 32px; height: 25px; background-position: -273px -362px; }
.t-14 { width: 32px; height: 25px; background-position: -307px -140px; }
.t-72ural { width: 32px; height: 25px; background-position: -340px -1px; }
.t-80 { width: 32px; height: 25px; background-position: -340px -28px; }
.t-90ms { width: 32px; height: 25px; background-position: -340px -55px; }
.xm8 { width: 32px; height: 25px; background-position: -340px -82px; }
.of-40-snow { width: 32px; height: 24px; background-position: -340px -109px; }
.t-64a-promo { width: 32px; height: 24px; background-position: -307px -167px; }
.wz-1224 { width: 32px; height: 24px; background-position: -307px -193px; }
.zhalo-s-2s14mrc { width: 32px; height: 24px; background-position: -307px -219px; }
.t-15 { width: 31px; height: 24px; background-position: -307px -245px; }
.amx-10rcr-promo { width: 32px; height: 23px; background-position: -307px -271px; }
.begleitpanzer57 { width: 32px; height: 23px; background-position: -340px -245px; }
.dfsv-reap { width: 32px; height: 23px; background-position: -307px -296px; }
.dfsv { width: 32px; height: 23px; background-position: -307px -321px; }
.erc90-f4shk { width: 32px; height: 23px; background-position: -307px -346px; }
.m60 { width: 32px; height: 22px; background-position: -307px -371px; }
.object155 { width: 32px; height: 22px; background-position: -341px -135px; }
.pt-76 { width: 32px; height: 22px; background-position: -341px -159px; }
.t-62vet { width: 32px; height: 22px; background-position: -341px -183px; }
.t-64 { width: 32px; height: 22px; background-position: -341px -207px; }
.t92 { width: 32px; height: 22px; background-position: -341px -270px; }
.type85-iim { width: 32px; height: 22px; background-position: -341px -294px; }
.t-62 { width: 32px; height: 21px; background-position: -341px -318px; }
.zhalo-s-2s14 { width: 32px; height: 21px; background-position: -341px -341px; }
.t-64a { width: 32px; height: 20px; background-position: -341px -364px; }
.rdf-lt-claw {width: 32px; height: 28px; background-position: 0px -395px;}
.taifun-claw {width: 32px; height: 25px; background-position: -36px -395px;}
